In [2]:
import pandas as pd
fg1 = pd.read_csv("./Stores.csv")
df = pd.concat([fg1])
df = df.dropna()
df.head()

   Store ID   Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
0          1        1659             1961                   530        66490
1          2        1461             1752                   210        39820
2          3        1340             1609                   720        54010
3          4        1451             1748                   620        53730
4          5        1770             2111                   450        46620